{% extends 'base.html' %}

{% block title %}
Профиль в Quizer
{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock%}

{% block body %}
<style>
    .settings-btns {
        opacity: 1;
    }
</style>
<div class="profile">
    <div class="profile-block">
        <h1 class="title">Настройки</h1>
    </div>
</div>
{% endblock %}