.reg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: absolute;
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
}

.form-reg {
    background: #2B2B44;
    border: 2px solid #3a3a5a;
    padding: 20px;
    border-radius: 15px;
}

#submit {
    margin: 0;
    cursor: pointer;
}

.form-btns-alt {
    display: flex;
    justify-content: space-between;
}
/* 
.reg {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
} */
