@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(180deg, #1F2034 0%, #151528 100%);
    min-height: 100vh;
}

nav {
    background-color: #2B2B44;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    width: 130px;
    top: 25%;
    margin-left: 50px;
}

.nav-logo img {
    width: 80px;
}

.nav-btns {
    opacity: .3;
    transition: .2s;
    margin-bottom: 40px;
}

.nav-btns img {
    width: 35px;
}

.nav-logo {
    transition: .2s;
    margin-bottom: 100px;
}

.nav-logo:hover {
    filter: drop-shadow(0 0 0.75rem #0085FF);
}

.nav-btns:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem #fff);
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-container {
    background: #2B2B44;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
}

.form-logo {
    width: 32px;
    margin-right: 2px;
    margin-left: 5px;
}

.form-btns {
    margin-top: 30px;
}

.reg-btn {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 15px;
    font-weight: 500;
    transition: .2s;
    background: none;
    cursor: pointer;
}

.reg-btn:first-child {
    margin-right: 10px;
}

.reg-btn:hover {
    background-color: #fff;
    color: #2B2B44;
}

.title {
    text-align: center;
    font-style: italic;
    color: #fff;
    margin-bottom: 10px;
}

.reg-form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    background: #1F2034;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: 4px solid #1F2034;
}

input:focus {
    border: 4px solid #0085FF;
}

a {
    text-decoration: none;
    color: #fff;
}

.profile-btn {
    margin-right: 20px;
    position: relative;
}

.profile-btn:hover, .profile-btn:active,.profile-btn:focus {
    text-decoration: underline;
}

.exit-btn:hover {
    background: #E83F23;
    border-color: #E83F23;
    color: #fff;
}