{% extends 'base.html' %}

{% block title %}
Quizer - викторина для всех
{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock%}

{% block body %}
<div class="login">
    {% if user and user.is_authenticated %}
    {% else %}
        <style>
            html {
                overflow: none;
            }
            nav {
                display: none;
            }
        </style>
        <div class="background">
            <div class="login-container">

                <span class="form-title">Впервые в <img class="form-logo" src="{{url_for('static', filename='img/logo.svg')}}" alt="">uizer?</span>
                <div class="form-btns">
                    <a class="reg-btn" href="/reg">Да</a>
                    <a class="reg-btn" href="/login">Нет</a>
                </div>
            </div>
        </div>
    {% endif %} 
</div>
<style>
    .dashboard-btns {
        opacity: 1;
    }
</style>
<main>
    <h1 class="title main-title">Лучшие тесты для {{ user.username }}:</h1>
    <div class="main-container">
        <a href="/" class="main-test-href">
            <div class="main-test test-war">
                <h2 class="main-test-title">Война 1812 года</h2>
                <p class="main-test-subtitle">Лично Маэстро написал это пук пук класс йоу 7 утра, я такой хуетой занимаюсь</p>
            </div>
        </a>
        <a href="/" class="main-test-href">
            <div class="main-test test-flask">
                <h2 class="main-test-title">Flask</h2>
                <p class="main-test-subtitle">Фласк для хардкорных людей. Сможете ли вы пройти этот тест?</p>
            </div>
        </a>
        <a href="/" class="main-test-href">
            <div class="main-test test-ithub">
                <h2 class="main-test-title">История ITHub</h2>
                <p class="main-test-subtitle">Давным-давно, в далёкой-далёкой галактике повстанцы создали ITHub</p>
            </div>
        </a>
        <a href="/" class="main-test-href">
            <div class="main-test test-gamid">
                <h2 class="main-test-title">Насколько ты знаешь Гамида</h2>
                <p class="main-test-subtitle">Красивый, увлекательный, сексуальный и просто лучший преподаватель в ithub, насколько ты хорошо его знаешь?</p>
            </div>
        </a>
    </div>
    <h1 class="title main-title">Тесты на тему истории</h1>
    <div class="main-container main-container-alt">
        <a href="/" class="main-test-href">
            <div class="main-test test-war">
                <h2 class="main-test-title">Война 1812 года</h2>
                <p class="main-test-subtitle">Лично Маэстро написал это пук пук класс йоу 7 утра, я такой хуетой занимаюсь</p>
            </div>
        </a>
        <a href="/" class="main-test-href">
            <div class="main-test test-ithub">
                <h2 class="main-test-title">История ITHub</h2>
                <p class="main-test-subtitle">Давным-давно, в далёкой-далёкой галактике повстанцы создали ITHub</p>
            </div>
        </a>
    </div>
    <h1 class="title main-title">Тесты на тему программирования</h1>
    <div class="main-container main-container-alt">
        <a href="/" class="main-test-href">
            <div class="main-test test-flask">
                <h2 class="main-test-title">Flask</h2>
                <p class="main-test-subtitle">Фласк для хардкорных людей. Сможете ли вы пройти этот тест?</p>
            </div>
        </a>
    </div>
    <h1 class="title main-title">Тесты про Голивудских актёров</h1>
    <div class="main-container main-container-alt">
        <a href="/" class="main-test-href">
            <div class="main-test test-gamid">
                <h2 class="main-test-title">Насколько ты знаешь Гамида</h2>
                <p class="main-test-subtitle">Красивый, увлекательный, сексуальный и просто лучший преподаватель в ithub, насколько ты хорошо его знаешь?</p>
            </div>
        </a>
    </div>
</main>
{% endblock %}