{% extends 'base.html' %}

{% block title %}
Вход в Quizer
{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock%}

{% block body %}
<div class="reg">
    <div class="form-reg">
        <h1 class="title">Вход в Quizer</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
              {{ form.username.label }}
            </p>
            {{ form.username(size=30) }}
            <p>
              {{ form.password.label }}
            </p>
              {{ form.password(size=30) }}
            <div class="form-remember">
              {{ form.remember_me() }}
              {{ form.remember_me.label }}
            </div>
            <div class="form-btns-alt">
                {{ form.submit() }}
                <input id="submit" type="button" value="Впервые тут" class="button_active" onclick="location.href='/reg';" />
            </div>
        </form>
    </div>
</div>
{% endblock %}