{% extends 'base.html' %}

{% block title %}
Профиль в Quizer
{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock%}

{% block body %}
<style>
    .profile-btns {
        opacity: 1;
    }
</style>
<div class="profile">
    <div class="profile-block">
        <h1 class="title">Добро пожаловать, {{ user.username }}</h1>
        <p class="profile-mail">Почта: {{ user.email }}</p>
        <a class="reg-btn exit-btn" href="/logout">Выход</a>
    </div>
</div>
{% endblock %}