{% extends 'base.html' %}

{% block title %}
Результаты в Quizer
{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sumbitquiz.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock%}

{% block body %}
<div class="profile">
    <div class="profile-block">
        <h1 class="title">Результат теста:</h1>
        <p class="result">Правильных ответов: {{ correct_count }}</p>
    </div>
</div>
{% endblock %}